// Default Theme Color Palette

// Red
$red-light: #b66;
$red-dark: #844;

// Pink
$pink-light: #b68;
$pink-dark: #846;

// Purple
$purple-light: #86b;
$purple-dark: #648;

// Blue
$blue-light: #86b;
$blue-dark: #648;

// Teal
$teal-light: #6b8;
$teal-dark: #486;

// Green
$green-light: #8b6;
$green-dark: #684;

// Yellow
$yellow-light: #b86;
$yellow-dark: #864;

// Orange
$orange-light: #b86;
$orange-dark: #864;

// Grey
$grey-050: #4d4549;
$grey-100: #494145;
$grey-150: #453d41;
$grey-200: #41393d;
$grey-250: #3d3539;
$grey-300: #393135;
$grey-350: #352d31;
$grey-400: #31292d;
$grey-450: #2d2529;
$grey-500: #292125;
$grey-550: #251d21;
$grey-600: #21191d;
$grey-650: #1d1519;
$grey-700: #191115; // this one seems to be the main background color
$grey-750: #191115; // this one seems to be used for the top bar
$grey-800: #150d11;
$grey-850: #11090d;
$grey-900: #0d0509;
$grey-950: #090105;

// White
$white: #FFFFFF;

// Black
$black: #000000;

// Button
$button-close: #b66;
$button-max: #8b6;
$button-min: #b86;

// Link
$links: #6b8;

// Theme
$default-light: $pink-light;
$default-dark: $pink-dark;
